.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# User defined
*.swp
docker-db/
.env
phpinfo.php
uploads/
tmp/
config/minikube
config/aks-prod
config/aks-dev
charts/*/charts/*.tgz
config/aks-dev-django
config/aks-prod-django
config/aks-dev-php

# JS
node_modules

# PHP Packages
app/composer.phar
app/vendor/autoload.php
app/vendor/composer/
app/vendor/guzzlehttp/
app/vendor/league/
app/vendor/paragonie/
app/vendor/psr/

# env stuff
django/env/local.env
local_settings.py
secrets
