order allow,deny
deny from com.mx
deny from ne.jp
deny from net.mx
deny from com.cn
deny from net.au
deny from net.br
deny from net.do
deny from com.ar
deny from uninet.net.mx
deny from net.tr
deny from wanadoo.fr
deny from alicedsl.de
deny from prodigy.net.mx
deny from alicedsl.de
deny from server4you.de
deny from bredbandsbolaget.se
deny from net.my
deny from net.in
deny from co.za
deny from rr.nu
allow from all

# https://docs.microsoft.com/en-us/azure/app-service-web/app-service-web-tutorial-custom-ssl#enforce-https-for-web-apps-on-linux
RewriteEngine On
RewriteCond %{HTTP:X-ARR-SSL} ^$
RewriteCond %{HTTP_HOST} !^duckiehunt.local$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove index.php from URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?$1 [L]
