{% extends "../base.html" %}

{% block content %}

    <!-- Page Content -->
    <div class="container">


      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <br>
           <h2>You found a duck!</h2>
          <br>
           <p>We're sorry, the duck you are looking for (#{{ duck_id }}) is not in the database!</p>
           <p>Let us know in the <a href='/issue/'>Issue page</a>, we'll get right on it!  </p>
          <br>
        </div>
      </div>
      <!-- /.row -->
    </div>

{% endblock %}
