{% load static %}
      <style>
        #map {
          width: {{ map.width }}; 
          height: {{ map.height }};
          background-color: grey;
          color: #000;
        }
      </style>
       
      <script>
          window.GOOGLE_MAPS_API_KEY = "{{ GOOGLE_MAPS_API_KEY|escapejs }}";
          window.DUCK_ICON_URL = "{% static 'icons/duck-32x32.png' %}";
          window.MAP_CONFIG = {
              focusLat: {{ map.focus_lat }},
              focusLong: {{ map.focus_long }},
              focusZoom: {{ map.focus_zoom }},
              duckLocationId: {{ map.duck_location_id }},
              locationListApi: '{{ map.location_list_api }}'
          };
      </script>
      <script src="{% static 'js/map-view.js' %}"></script>
