	{% if photos %}
      <!-- Photos -->
      <h2>Photos</h2>
      <div class="row">
{% for photo in photos %}
        <div class="col-lg-4 col-sm-4 mb-4">
          {% if photo.flickr_photo_id %}
          <a href='https://www.flickr.com/photos/duckiehunt/{{ photo.flickr_photo_id }}'>
            <img class="img-fluid" src="{{ photo.display_thumbnail_url }}" alt="">
          </a>
          {% else %}
          <img class="img-fluid" src="{{ photo.display_thumbnail_url }}" alt="">
          {% endif %}
        </div>{% endfor %}
      </div>
      <!-- /.row -->
    {% endif %}
