apiVersion: v1
kind: Secret
metadata:
  name: test-secret
data:
  CI_BASE_URL:
  FLICKR_API_KEY:
  FLICKR_API_SECRET:
  FLICKR_TOKEN:
  FLICKR_ACCESS_TOKEN:
  FLICKR_ACCESS_TOKEN_SECRET:
  FLICKR_USER_NSID:
  FLICKR_USER_NAME:
  FLICKR_PERMISSIONS:
  FLICKR_UPLOAD_IS_PUBLIC:
  FLICKR_UPLOAD_HIDDEN:
  SENDGRID_USERNAME:
  SENDGRID_PASSWORD:
  RECAPTCHA_SITE_KEY:
  RECAPTCHA_SECRET_KEY:
  DH_AUTO_APPROVE:
  FACEBOOK_CLIENT_ID:
  FACEBOOK_CLIENT_SECRET:
  GOOGLE_CLIENT_ID:
  GOOGLE_CLIENT_SECRET:
